<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="logo-space"></div>
  <div class="authForm">
    <div class="formLists">
      <div class="member-list-newAccount">
        <div class="form-title">
          <h1>New Account</h1>
        </div>
        <form id="registerForm" class="newAccount" layout="column" ng-submit="onSubmit()">

          <%= f.email_field :email, placeholder: 'Email' %>
          <%= f.password_field :password, autocomplete: "off", placeholder: 'Password'%>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirmation password' %>
          <div class="signup-class">
            <%= f.check_box :doctor %>
            <%= f.label :doctor %>
          </div>
          <button class="sing_up" type="submit" name="signup" action="f.submit">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
<% end %>
