<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="logo-space"></div>
  <div class="authForm">
    <div class="formLists">
      <div class="member-list-newAccount">
        <div class="form-title">
          <h1><%= t('.new_acount')%></h1>
        </div>
        <form id="registerForm" class="newAccount" layout="column" ng-submit="onSubmit()">
          <%= image_tag(@user.avatar_url) if @user.avatar? %>
          <%= f.file_field :avatar %>
          <%= f.hidden_field :avatar_cache %>
          <button class='upload-btn' onclick="document.getElementById('user_avatar').click()"><%=t('.upload')%></button>
          <%= f.email_field :email, placeholder: t('.email') %>
          <%= f.password_field :password, autocomplete: "off", placeholder: t('.password')%>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: t('.confirmation_password') %>
          <div class="signup-class">
            <%= f.check_box :doctor %>
            <label for="user_doctor"><%=t('.doctor')%></label>
          </div>
          <button class="sing_up" type="submit" name="signup" action="f.submit"><%=t('.registration')%></button>
        </form>
      </div>
    </div>
  </div>
<% end %>
