<ul>
  <li class="left"><%= link_to 'Головна', root_path %></li>
  <% if user_signed_in? %>
    <span><%= current_user.email %></span>
    <li><%= link_to 'Вийти', destroy_user_session_path, :method => :delete %></li>
    <li><%= link_to 'Моя сторінка', user_root_path %></li>
  <% else %>
    <li><%= link_to 'Зареєструватися', new_user_registration_path %></li>
    <li><%= link_to 'Увійти', new_user_session_path %></li>
  <% end %>
</ul>
