<div class='advice'>
  <div class="titleHeader">
    <h1 class="title"><%= t('.food_allergens')%></h1>
  </div>

  <div class='container'>
    <h4 class='main-text'> <%=t('.1_title')%> </h4>
    <h4 class='main-text'> <%=t('.2_title')%> </h4>
    <h4 class='main-text'> <%=t('.3_title')%> </h4>
  </div>

  <div class="titleHeader">
    <h1 class="title"><%= t('.high_allergy_foods')%></h1>
  </div>
  <div class="background">
    <%= image_tag("advice/milk.svg") %>
    <%= image_tag("advice/fried-egg.svg") %>
    <%= image_tag("advice/gluten.svg") %>
    <%= image_tag("advice/peanut.svg") %>
    <%= image_tag("advice/coffee.svg") %>
    <%= image_tag("advice/beans.svg") %>
  </div>

  <div class ="background2">
    <div class = "captions">
      <h1><%= t('.milk')%></h1>
    </div>
    <div class = "captions">
      <h1><%= t('.eggs')%></h1>
    </div>
    <div class = "captions">
      <h1><%= t('.gluten')%></h1>
    </div>
    <div class = "captions">
      <h1><%= t('.peanuts')%></h1>
    </div>
    <div class = "captions">
      <h1><%= t('.coffee')%></h1>
    </div>
    <div class = "captions">
      <h1><%= t('.soybeans')%></h1>
    </div>
  </div>

  <div class="background">
    <%= image_tag("advice/fish.svg") %>
    <%= image_tag("advice/fruit.svg") %>
    <%= image_tag("advice/bell-pepper.svg") %>
    <%= image_tag("advice/chocolate.svg") %>
    <%= image_tag("advice/honey.svg") %>
    <%= image_tag("advice/mushroom.svg") %>
  </div>

  <div class ="background2">
    <div class = "captions">
      <h1><%= t('.fish')%></h1>
      <p><%= t('.fish_desc')%></p>
    </div>
    <div class = "captions">
      <h1><%= t('.fruits')%></h1>
      <p><%= t('.fruits_desc')%></p>
    </div>
    <div class = "captions">
      <h1><%= t('.vegetables')%></h1>
      <p><%= t('.vegetables_desc')%></p>
    </div>
    <div class = "captions">
      <h1><%= t('.chocolate')%></h1>
    </div>
    <div class = "captions">
      <h1><%= t('.honey')%></h1>
    </div>
    <div class = "captions">
    <h1><%= t('.mushroom')%></h1>
    </div>
  </div>

  <div class='container'>
    <h4 class='main-text'> <%=t('.4_title')%> </h4>
    <h4 class='main-text'> <%=t('.5_title')%> </h4>
    <h4 class='main-text'> <%=t('.6_title')%> </h4>
  </div>

  <div class="titleHeader">
    <h1 class="title"><%= t('.medium_allergy_foods')%></h1>
  </div>

  <div class="background">
    <%= image_tag("advice/steak.svg") %>
    <%= image_tag("advice/oat.svg") %>
    <%= image_tag("advice/bean.svg") %>
    <%= image_tag("advice/potato.svg") %>
    <%= image_tag("advice/peach.svg") %>
    <%= image_tag("advice/cherry.svg") %>
  </div>

  <div class ="background2">
    <div class = "captions">
      <h1><%= t('.meat')%></h1>
      <p><%= t('.meat_desc')%></p>
    </div>
    <div class = "captions">
      <h1><%= t('.aot')%></h1>
    </div>
    <div class = "captions">
      <h1><%= t('.bean')%></h1>
    </div>
    <div class = "captions">
      <h1><%= t('.vegetables')%></h1>
      <p><%= t('.vegetables_desc2')%></p>
    </div>
    <div class = "captions">
      <h1><%= t('.fruits')%></h1>
      <p><%= t('.fruits_desc2')%></p>
    </div>
    <div class = "captions">
      <h1><%= t('.berries')%></h1>
      <p><%= t('.berries_desc')%></p>
    </div>
  </div>

  <div class="titleHeader">
    <h1 class="title"><%= t('.small_allergy_foods')%></h1>
  </div>

  <div class="background">
    <div class=pic-4>
      <%= image_tag("advice/dairy.svg") %>
      <%= image_tag("advice/chicken.svg") %>
      <%= image_tag("advice/corn.svg") %>
      <%= image_tag("advice/cabbage.svg") %>
    </div>
  </div>

  <div class ="background2">
    <div class = "captions">
      <h1><%= t('.dairy_products')%></h1>
    </div>
    <div class = "captions">
      <h1><%= t('.meat')%></h1>
      <p><%= t('.meat_desc2')%></p>
    </div>
    <div class = "captions">
      <h1><%= t('.corn')%></h1>
    </div>
    <div class = "captions">
      <h1><%= t('.cabbage')%></h1>
      <p><%= t('.cabbage_desc')%></p>
    </div>
  </div>

  <div class="background">
    <div class=pic-4>
      <%= image_tag("advice/cucumbers.svg") %>
      <%= image_tag("advice/dill.svg") %>
      <%= image_tag("advice/apple.svg") %>
      <%= image_tag("advice/plum.svg") %>
    </div>
  </div>

  <div class ="background2">
    <div class = "captions">
      <h1><%= t('.cucumbers')%></h1>
    </div>
    <div class = "captions">
      <h1><%= t('.dill')%></h1>
    </div>
    <div class = "captions">
      <h1><%= t('.apple')%></h1>
    </div>
    <div class = "captions">
      <h1><%= t('.plum')%></h1>
    </div>
  </div>
  <div class='container'>
    <h4 class='main-text'> <%=t('.7_title')%> </h4>
    <h4 class='main-text'> <%=t('.8_title')%> </h4>
    <h4 class='main-text'> <%=t('.9_title')%> </h4>
    <h4 class='main-text'> <%=t('.10_title')%> </h4>
    <h4 class='main-text'> <%=t('.11_title')%> </h4>
    <h4 class='main-text'> <%=t('.12_title')%> </h4>
    <h4 class='main-text'> <%=t('.13_title')%> </h4>
    <h4 class='main-text'> <%=t('.14_title')%> </h4>
    <h4 class='main-text'> <%=t('.15_title')%> </h4>
  </div>
</div>
