<div class='container'>
  <div class='main'>
    <h4 class='main-text'> На базі обласної лікарні функціонує обласний алергологічний центр, до складу якого входять: відділення алергології на 40 ліжок, із них 35 - алергологічних, 5 - імунологічних та два спеціалізованих кабінети поліклінічного відділення: алергологічний і маніпуляційний для проведення алергологічного обстеження та специфічної імунотерапії.</h4>
    <h4 class='main-text'> До обласного центру направляються хворі з вперше виявленим обструктивним синдромом, бронхіальною астмою (атопічна, аспіринова, астма фізичного зусилля), полінозами, алергіями (інсектною, медикаментозною, харчовою та холодовою), алергічними ринітами та кон’юнктивітами, кропив’янкою різної етіології, атопічними дерматитами, імунодефіцитними порушеннями. </h4>
    <h4 class='main-text'> Обстеження та лікування хворих проводиться згідно протоколів надання медичної допомоги дорослому населенню. З діагностичною метою, окрім загальноклінічних, біохімічних, бактеріологічних, вірусологічних, імунологічних методів обстеження, застосовуються алергологічні тести, діапазон яких досить широкий. А саме:
      </br>
      <p> - Prik-шкірні тести з пилковими, побутовими, епідермальними, інсектними алергенами;
      <p> - провокаційні тести;
      <p> - тести при фізичній кропив’янці;
      <p> - визначення IqA, IqG, IqM та клінічного імунітету;
      <p> - визначення секреторного ІqА та загального ІqЕ;
      <p> - РОК з  харчовими алергенами;
      <p> - ІФА IqG + G до гліадину;
      <p> - визначення кріоглобуліну крові;
      <p> - імунологічна діагностика паразитарної інфекції.
    <h4>
  </div>
  <div class="style-label">
    <span class="directions">Лікування алергічних захворювань включає чотири основних напрямки :</span>
    <ul class="box-shadow effect2">
      <li class="col-md-3">
        <span class="glyphicon glyphicon-eye-open flt" aria-hidden="true"></span>
        <div class="label-text">
          <h3>Освіта та співпраця з хворими</h3>
        </div>
      </li>
      <li class="col-md-3">
        <span class="glyphicon glyphicon-eye-open flt" aria-hidden="true"></span>
        <div class="label-text">
          <h3>Елімінаційна терапія</h3>
        </div>
      </li>
      <li class="col-md-3">
        <span class="glyphicon glyphicon-eye-open flt" aria-hidden="true"></span>
        <div class="label-text">
          <h3>Алергоспецифічна імунотерапія (АСІТ)</h3>
        </div>
      </li>
      <li class="col-md-3">
        <span class="glyphicon glyphicon-eye-open flt" aria-hidden="true"></span>
        <div class="label-text">
          <h3>Фармакотерапія</h3>
        </div>
      </li>
      <div class="clearfix"></div>
    </ul>
  </div>
  <div class="service_features">
    <div class="col-md-4 ser-fet">
      <h3>Показники роботи</h3>
    </div>
    <tr>
      <td>
        <table border="2" width="100%">
          <tr>
            <td><font color="#336699" size="3"><b>№ п/п</b></font></td>
            <td><font color="#336699" size="3"><b>Показники</b></font></td>
            <td><font color="#336699" size="3"><b>2013 рік</b></font></td>
            <td><font color="#336699" size="3"><b>2014 рік</b></font></td>
            <td><font color="#336699" size="3"><b>2015 рік</b></font></td>
          </tr>
          <tr>
            <td><font size="2">1</font></td>
            <td><font size="2">Планові ліжка</font></td>
            <td><font size="2">40</font></td>
            <td><font size="2">40</font></td>
            <td><font size="2">40</font></td>
          </tr>
          <tr>
            <td><font size="2">2</font></td>
            <td><font size="2">Проліковано хворих</font></td>
            <td><font size="2">1275</font></td>
            <td><font size="2">1285</font></td>
            <td><font size="2">1284</font></td>
          </tr>
          <tr>
            <td><font size="2">3</font></td>
            <td><font size="2">Робота ліжка</font></td>
            <td><font size="2">349</font></td>
            <td><font size="2">363</font></td>
            <td><font size="2">363,3</font></td>
          </tr>
          <tr>
            <td><font size="2">4</font></td>
            <td><font size="2">Середнє перебування на ліжку</font></td>
            <td><font size="2">10,9</font></td>
            <td><font size="2">11,3</font></td>
            <td><font size="2">11,3</font></td>
          </tr>
          <tr>
            <td><font size="2">5</font></td>
            <td><font size="2">Обіг ліжка</font></td>
            <td><font size="2">31,9</font></td>
            <td><font size="2">32,2</font></td>
            <td><font size="2">32,2</font></td>
          </tr>
        </table>
      </td>
    </tr>
  </div>
  <div class="doctor-port">
    <h3>Наші лікарі</h3>
  </div>
  <div class='doctor-list'>
    <ul>
      <li>
        <%= image_tag("a2.jpg", alt: "name", class: "doctor-pic") %>
        <div class="caption">
          <h4>Гармаш Наталія Степанівна</h4>
          <span>- завідувач відділення,</span>
          <span>головний позаштатний алерголог ГУОЗ та МК ОДА  </span>
          <span>1988р. – закінчила Івано-Франківський медичний інститут</span>
          <span>категорія – Вища</span>
        </div>
      </li>
      <li>
        <%= image_tag("a3.jpg", alt: "name", class: "doctor-pic") %>
        <div class="caption">
          <h4>Щербата Катерина Миколаївна</h4>
          <span>лікар-алерголог </span>
          <span>1967р. – закінчила Вінницький медичний інститут</span>
          <span>категорія – Вища</span>
        </div>
      </li>
      <li>
        <%= image_tag("a4.jpg", alt: "name", class: "doctor-pic") %>
        <div class="caption">
          <h4>Кисельова Олена Миколаївна</h4>
          <span>лікар-алерголог</span>
          <span>1985р. – закінчила Полтавський медичний інститут</span>
          <span>категорія – Вища</span>
        </div>
      </li>
      <li>
        <%= image_tag("a1.jpg", alt: "name", class: "doctor-pic") %>
        <div class="caption">
          <h4>Стратійчук Лариса Янківна</h4>
          <span>лікар-алерголог</span>
          <span>1989р. – закінчила Вінницький медичний інститут</span>
          <span>категорія – Вища</span>
        </div>
      </li>
      <li>
        <%= image_tag("a5.jpg", alt: "name", class: "doctor-pic") %>
        <div class="caption">
          <h4>Кондрацька Євгенія Іванівна</h4>
          <span>лікар-алерголог</span>
          <span>1967р. – закінчила Тернопільський медичний інститут</span>
          <span>категорія – Перша</span>
        </div>
      </li>
      <li>
        <%= image_tag("a6.jpg", alt: "name", class: "doctor-pic") %>
        <div class="caption ">
          <h4>Кандул Тетяна Борисівна</h4>
          <span>лікар-алерголог</span>
          <span>2002р. – закінчила Полтавську медичну стоматологічну академію</span>
          <span>категорія - Вища</span>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="contact-form">
  <div class='container'>
    <div class="col-md-4 pd adress">
      <h3>Адреса</h3>
      <ul>
        <li>Черкаси</li>
        <li>Україна</li>
        <li>вул.Менделєєва, 3</li>
      </ul>
      </div>
      <div class="col-md-8 pd contact-us">
        <h3>Зв'яжіться з нами</h3>
        <form>
          <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Введіть текст тут ...</textarea>
          <br>
          <input class="name" type="text" name="name" value="Ваше ім'я" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
          <input class="nuber" type="text" name="Phone number" value="Номер телефону" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Number';}">
          <button type="button" class="btn btn-info sub1">Відправити</button>
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class='allergy'>
  <div class="footer">
    <div class="footer-text">
      <h3>Обласне алергологічне відділення</h3>
    </div>
  </div>
</div>
